.Result-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--very-dark-cyan);
  border-radius: 1rem;
  padding: 40px;
}

.Result-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.Title-container {
  display: flex;
  flex-direction: column;
}

.Result-title {
  font-size: 13px;
  color: var(--very-light-grayish-cyan);
}

.Result-subtitle {
  font-size: 13px;
  color: var(--grayish-cyan);
}

.Amount-value {
  font-size: 36px;
  font-weight: 700;
  color: var(--strong-cyan);
}

.Reset-button {
  width: 100%;
  height: 45px;
  border: 0;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--very-dark-cyan);
  background-color: var(--strong-cyan);
}

.Reset-button:hover {
  background-color: var(--light-grayish-cyan);
}

.Reset-button:disabled {
  background-color:  var(--light-grayish-cyan);
  opacity: 0.15;
}
